

<div class="user-data" >
    <div *ngIf="!editUser">
        <p><strong>Name : </strong> {{userData.custName}}</p>
        <p><strong>phone : </strong>{{userData.phone}}</p>
        <p><strong>email : </strong>{{userData.email}}</p>
        <button (click)="edit()">Edit</button>
    </div>
    
    <div *ngIf="editUser">
        <form [formGroup]="userForm" (ngSubmit)="save()">
        <p><strong>Name : </strong> <input type="text" [(ngModel)]="userData.custName" formControlName="custName"></p>
        <p><strong>phone : </strong><input type="text" [(ngModel)]="userData.phone" formControlName="phone"></p>
        <p><strong>email : </strong><input type="text" [(ngModel)]="userData.email" formControlName="email"></p>
        <button type="submit">Save</button>
        </form>
    </div>
    

</div>
