*{
    margin : 0;
    padding : 0;
}
div {
    // background-color: cyan;
    height: 84vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 { 
    font-size : 5rem; 
    font-family: cursive; 
    color : black;
}