* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height : 100vh;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  .floating {
      position: absolute;
      height : 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  .header {
    height: 8vh;
    width: 100%;
  }

  .navbar {
    height: 8vh;
    width: 100%;
  }

  .row3{
    // height: cal(92vh - 8vh);
    height:84vh;
    width : 100%;
    overflow-y: auto;
  }
}
