*{
    margin:0;
    padding : 0;
    box-sizing: border-box;
}

.form-outer{
    
    .form-inner{
        
        padding : 10px 10px;
        .form-head{
            height : auto;
            width: 100%;
            display : flex;
            align-items: center;
            background-color: #e2d2d2;
            border-radius : 5px 5px 0px 0px;
            .head{
                font-size : 1.2rem;
                // font-family : 
                color: #6b2c21;
                padding: 2px 5px;
            }
        }
        .form-body{
            height : auto;
            display : flex;
            flex-wrap : wrap;

            .form-control{
                border : none;
                outline : none;
                border-bottom: 1px solid black;
                margin : 5px 5px;
            }

                        .btn {
                            width: 100px;
                            margin: 8px 5px;
                            background-color: #2b0303;
                            color: white;
                            padding: 10px 10px;
                            border-radius: .2rem;
                            cursor: pointer;
                        }
        }
    }
}