<div class="container">
    <div class="profile">
        <div class="sidebar">
            <div class="options">
                <span class="username">Hello, User</span>
                <p routerLink="/profile/profiledata">Profile</p>
                <p routerLink="/profile/orders">My Orders</p>
            </div>
            <div class="logout">
                <button type="button" (click)="logout()">Log Out</button>
            </div>
        </div>
        <div class="profileContent">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
